---
import BrandIcon from "@/components/ui/BrandIcon.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { portfolioData } from "@/data/portfolio";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { skills } = portfolioData;
---

<section class="space-y-12" id="skills">
    <div class="space-y-2 text-center flex flex-col items-center">
        <h2 class="text-3xl font-bold dark:text-white">{t("skills.title")}</h2>
        <div class="h-1.5 w-12 bg-primary rounded-full"></div>
    </div>

    <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6"
    >
        {
            skills.map((skill) => {
                return (
                    <div class="flex flex-col items-center justify-center p-6 bg-white dark:bg-slate-800 rounded-xl border border-slate-200 dark:border-slate-700 hover:border-primary group shadow-sm hover:shadow-lg hover:-translate-y-1 dark:bg-slate-800/80 backdrop-blur-sm transition-all duration-300">
                        <div class="w-12 h-12 rounded-lg bg-slate-50 dark:bg-slate-900 flex items-center justify-center mb-3 group-hover:bg-primary/10">
                            <BrandIcon
                                name={skill.name}
                                icon={skill.icon}
                                logo={skill.logo}
                                class="w-6 h-6"
                            />
                        </div>
                        <span class="font-bold text-sm text-center dark:text-slate-300 group-hover:text-primary transition-colors">
                            {skill.name}
                        </span>
                    </div>
                );
            })
        }
    </div>
</section>
